body{background-image: url('img/pixel-game-background-wallpaper-1.jpg'); background-size: 100%;}
#pan{margin-left: 630px; margin-top:490px;}
#som{margin-top: 170px; margin-left: 1000px; position: absolute;}
.bubble{
text-align: center;
    line-height: 2.4;
position: relative;
width: 195px;
height: 110px;
padding: 2px;
background: #FFFFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #7F7F7F solid 3px;
    margin-left: 600px;
    margin-top: -430px;
}
.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 21px 20px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
bottom: -21px;
left: 94px;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 23px 22px 0;
border-color: #7F7F7F transparent;
display: block;
width: 0;
z-index: 0;
bottom: -26px;
left: 92px;
}
.bubble2{
text-align: center;
    line-height: 2.4;
position: relative;
width: 195px;
height: 110px;
padding: 2px;
background: #FFFFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #7F7F7F solid 3px;
float: right;
    margin-right: 650px;
    margin-top: 30px;
}
.bubble2:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 21px 20px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
bottom: -21px;
left: 32px;
}

.bubble2:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 23px 22px 0;
border-color: #7F7F7F transparent;
display: block;
width: 0;
z-index: 0;
bottom: -26px;
left: 30px;
}